<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema - Desafio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/index.css">
    </head>

    <body>
        <header>
            <div class="menu-hamburguer">
            </div>

            <nav>
                <ul>
                  

                   <li>
                        <a href="/cadastrar_pokemon">
                            <img src="/static/styles/imagens/pokeball.a423f307223251ab7bff.png" alt="Pokeball">
                            <span>Cadastrar Pokemons</span>
                        </a>
                    </li>


                    <li>
                        <a href="/exibir_pokemons">
                            <img src="/static/styles/imagens/r.png" alt="mewtwo">
                            <span>Exibir Pokemons</span>
                        </a>
                    </li>

                    <li>
                        <a href="/cadastrar_tipos">
                            <img src="/static/styles/imagens/er.png" alt="raio">
                            <span>Cadastrar Tipos</span>
                        </a>
                    </li>

                    <li>
                        <a href="/exibir_tipos">
                            <img src="/static/styles/imagens/OIP.png" alt="snorlax">
                            <span>Exibir Tipos</span>
                        </a>
                    </li>

            
                </ul>
            </nav>
        </header>

        <main>
            <h1 id="titulo">Oi! O que deseja fazer?</h1>
        </main>
        
    </body>

</html>